/* This is a comment. You can write anything here. It won't be executed. It's good to
write some notes about your code so that you or your team mates can understand it later. */

* {
  margin: 0;
  padding: 0;
}

body {
  /* Here we define the font family for the whole body, if not otherwise defined. */
  font-family: 'Palanquin', sans-serif;
  text-align: center;
  font-size: 18px;
}

/* Headings */
/* Here we define that the font family for all headings should be Poppins. */
h1, h2, h3 {
  font-family: 'Poppins', sans-serif;
  color: #1A3E6E;
  adding-bottom: 20px;
}

h1 {
  font-size: 3.5rem;
  background-color: rgba(156, 83, 0, 0.664);
  padding: 1rem;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
}

a {
  color: #1A3E6D;
}

a:hover {
  color:#EBBE1B;
}

.statement {
  font-size: 2rem;
  font-weight: bold;
}

.profile-photo {
  height: 200px;
  border-radius: 50%;
}

/* Navigation */
nav {
  background: #EBBE1B;
  font-family: 'Poppins', sans-serif;
  font-size: 1.5em;
}

nav a {
  color:  #860050;
  text-decoration: none;
  padding: 20px 10px;
}

nav a:hover {
  color:  #fff;
}

/* Header */
.header {
  background-image: linear-gradient(to bottom, rgba(255,255,0,0.5), rgba(255, 166, 0, 0.623)),
  url("../images/bg-image-computer.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: white;
  height: 250px;
}

.header h1 {
  color: #fff;
}

/* Colored section */
.color-section {
  background-color: #860050;
  color: #fff;
}

.color-section h2 {
  color: #fff;
}

.color-section a {
  color: #EBBE1B;
}

.color-section a:hover {
  color:  #1A3E6D;
}

/* Containers */
.container-fluid {
  padding: 7% 15%;
}

.footer {
  padding: 3% 5%;
}

/* Lists */
ol, ul {
  text-align: left;
}

.list {
  padding: 7% 40%;
}

.no-bullet-points {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* Media rules */
@media only screen and (max-width: 930px) {
  .container-fluid {
    padding: 3% 5%;
  }

  .list {
    padding: 7% 20%;
  }
}
